__pycache__/
.pytest_cache/
.venv/
.env
*.pyc
*.pyo
*.pyd
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
.vscode/
.idea/

data/entrada/ordens_pdf/*
!data/entrada/ordens_pdf/

data/apoio/*.xlsx
data/apoio/*.pdf

data/saida/txt_gerados/*
!data/saida/txt_gerados/

data/saida/relatorios/*
!data/saida/relatorios/

# Mantem os exemplos no repositorio
!data/exemplos/
!data/exemplos/*.pdf
!data/exemplos/*.txt
